* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid salmon;
}

html,
body {
  min-height: 100%;
  font-size: 1.2rem;
}

body {
  padding: 0.9rem;
}

input,
button {
  font-size: 1.1rem;
}

#loading-div {
  width: 3rem;
  height: 3rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid blueviolet;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading-div.show {
  display: block;
}

.search-results-container {
  display: grid;
  gap: 3rem;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.left-container {
  display: flex;
  flex-direction: column;
}

.address-and-time-container,
.temperature-and-icon-container,
.rain-and-icon-container,
.dew-and-icon-container,
.wind-and-icon-container,
.humidity-and-icon-container,
.uv-and-icon-container,
.search-container {
  display: flex;
}

.home-and-search-container {
  display: flex;
  gap: 0.5rem;
}

.search-container {
  flex: 1;
}

.info-container-left div {
  padding: 0.39rem;
}

.right-container div {
  padding: 0.3rem;
}

#search {
  flex: 1;
}

.temperature {
  font-size: 3.2rem;
}

.time-div,
.temperature-value-container,
.rain-value-container,
.dew-value-container,
.wind-value-container,
.humidity-value-container,
.uv-value-container,
.icon-container {
  margin-left: auto;
  align-self: center;
}

.temperature-container,
.rain-probability-container,
.dew-point-container,
.wind-speed-container,
.relative-humidity-container,
.uv-index-container,
.min-max-temperature-container {
  display: flex;
}

.right-container > div {
  display: flex;
}
